body{
  margin-top: 50px;
  width: 100%;
	background-color: #02010a;
	font-family: 'Dancing Script', cursive;
	font-weight: 600;
	height: 100%;
  transition: 2s;
  transform: translate(-500);
}
.up{
  width: 80%;
	margin: auto;
	background-color: #d5c75f;
  border-radius: 10px 10px 0 0;
  display: flex;
	flex-flow: row wrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.cabeza{
  color: white;
  font-size: 50px;
  text-shadow: 2px 2px #02010a;
}
.menu{
	display: inline-block;
	color: white;
  font-size: 40px;
}
.menu{
  font-size: 20px;
  text-align: center;
  padding-right: 30px;
}
.menu a{
  color: white;
}

.menu li{
	display: inline-block;
  margin: 10px;
}
.subnontenido{
  width: 80%;
  margin: auto;
  display: flex;
	flex-flow: row wrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  text-align: center;
}
.im{
  margin: 30px;
  width: 80%;
}
.central{
  width: 100%;
  background-color: #82c3a6;
}
.secundaria{
  width: 100%;
  background-color: #d5c75f;
  display: flex;
	flex-flow: row wrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  text-align: center;
}
.sec{
width: 450px;
margin: auto;
}
.ima{
  margin: auto;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer{
  border-radius: 0 0 10px 10px;
  background-color: #C6d5c5;
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.footer a{
  color: black;
}
.com{
  width: 300px;
  font-size: 30px;
  margin: 20px;
}
.log{
  width: 40px;
}
#img1{
  width: 80%;
  box-shadow: 4px 4px;
}
#img2{
  transition: 1s;
  border: solid 2px #82c3a6;
  margin-top: 20px;
  width: 80%;
}
#img2:hover{
  transform: rotate(10deg);
  box-shadow: 4px 4px #82c3a6;
}
#img3{
  transition: 1s;
  border: solid 2px #82c3a6;
  margin-top: 20px;
  width: 80%;
}
#img3:hover{
  transform: translate(20px,-5px);
  box-shadow: 4px 4px #82c3a6;

}
